#!name = 七猫小说
#!desc = 七猫小说分流

#!icon = https://gitlab.com/lodepuly/iconlibrary/-/raw/master/App_icon/120px/SevenCat.png
#!date = 2023-10-02 15:10:01

#[rule]
host, cdn-new-ad.wtzw.com, reject
host, a-remad.qm989.com, reject
host, mobads.baidu.com, reject
host-suffix, pglstatp-toutiao.com, reject
host-suffix, gdt.qq.com, reject
host, qzs.gdtimg.com, reject
host, mobads-pre-config.cdn.bcebos.com, reject
host, pgdt.ugdtimg.com, reject